body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans regular';
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDsou-9Yj0s2NTQ1pGx4zvMQj12BW1NUvgLA&s");
    background-size: 100%;
    color:green;
}

.contenedor-imagen{
    width:95%;
    margin-top: 0;
    padding: 10px;
    text-align: center;
}

.contenedor-imagen img {
    width: 20%;
}

#id1 {
    margin-bottom: 1px;
}

.titulo{
    background: "#60858f";
    border: radius 280px;
    padding: 22px;
    box-shadow: 4px 5px 8px black;
    text-align:center;
}

[role="text"]{
    color: blueviolet;
}

h1:hover{
    font-size: 35px;
}

.texto::first-line{
    color: coral;
}

.contenedor-imagen > span {
    color: crimson;
}

.subtitulo{
    background: #a2dae8;
  border-radius: 500px;
  padding: 27;
  font-style: italic;
  text-align: center;
}

.parrafo{
    text-align: center;
}

.texto{
    font-weight: 50;
    border:10px solid gray;
    font-size: 25px;
    border-radius: 50px;
    font-style: italic;
    text-align: center;
}
.negrita{
    font-weight: bold;
}